# Dependencies
node_modules/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# Production
dist/
build/
out/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Electron
.electron-builder.env

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
debug.log 
node_modules/*

# 本地配置文件
src/config/local.config.ts

# requirements.txt
requirements.txt
.venv/*
tests/*
tools/*

release/*
.webpack-cache-fast/*