.monitor-status-bar {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
}

.monitor-status-bar .ant-tag {
  margin-right: 16px;
  line-height: 20px;
}

.monitor-status-bar .monitor-status-host,
.monitor-status-bar .monitor-status-user,
.monitor-status-bar .monitor-status-update {
  margin-right: 16px;
}

.monitor-status-bar .monitor-status-error {
  color: #ff4d4f;
}

.monitor-status-bar .anticon {
  margin-right: 4px;
  font-size: 14px;
} 