.file-editor-modal .ant-modal-body {
  padding: 0;
  height: calc(90vh - 110px);
  overflow: hidden;
}

.file-editor-modal .ant-modal-confirm-content {
  margin: 0 !important;
}

.file-editor-modal .ant-modal-confirm-btns {
  margin-top: 16px;
}

.file-editor-modal .editor-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
} 